::ng-deep .mat-form-field-underline {
    display: none;
}

.search {
    height: inherit;
    width: fit-content;
    /* background-color: aqua; */
}

#search_text {
    height: 40px;
}

#search_button {
    background-color:white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#search_button:focus {
    outline:0;
}

.button_div {
    padding-left: 0px;
}

