<div class="container-fluid">
  <app-breadcrumb></app-breadcrumb>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <!-- product image -->
      <div class="col-md-6">
        <app-product-image></app-product-image>
      </div>
      <!-- product details -->
      <div class="col-md-6">
        <app-product-detail></app-product-detail>
      </div>
    </div>
   
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <!-- product description -->
      <app-product-desc></app-product-desc>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <!-- related product -->
    </div>
  </div>
</div>